[Desktop Entry]
Icon=text-html
Name[de_DE]=F-Name specifications.freedesktop.org
Name=F-Name specifications.freedesktop.org
Type=Link
URL[$e]=https://specifications.freedesktop.org/icon-naming-spec/latest/
