[KDE Icon Theme]
Name=Tango!SVG V3 BC with extras 
Comment=The good, old Tango! theme Reloaded 2025.06/08 Vers.3, from Blackysgate
DisplayDepth=32
Inherits=oxygen
Example=folder
LinkOverlay=link
LockOverlay=lockoverlay
ShareOverlay=share
ZipOverlay=zip
DesktopDefault=32
DesktopSizes=16,22,32,48,64,128,256
ToolbarDefault=16
ToolbarSizes=16,22,32,48,64,128
MainToolbarDefault=16
MainToolbarSizes=16,22,32,48,64,128
SmallDefault=16
SmallSizes=16,22,32,48,64
PanelDefault=22
PanelSizes=22,32,48,64

Directories=scalable/actions,scalable/animations,scalable/apps,scalable/categories,scalable/devices,scalable/emblems,scalable/emotes,scalable/intl,scalable/mimetypes,scalable/places,scalable/status


[scalable/actions]
Size=128
Context=Actions
Type=Scalable
MinSize=8
MaxSize=256

[scalable/animations]
Size=128
Context=Animations
Type=Scalable
MinSize=8
MaxSize=256

[scalable/apps]
Size=128
Context=Applications
Type=Scalable
MinSize=8
MaxSize=256

[scalable/categories]
Size=128
Context=Categories
Type=Scalable
MinSize=8
MaxSize=256

[scalable/devices]
Size=128
Context=Devices
Type=Scalable
MinSize=8
MaxSize=256

[scalable/emblems]
Size=128
Context=Emblems
Type=Scalable
MinSize=8
MaxSize=256

[scalable/emotes]
Size=128
Context=Emotes
Type=Scalable
MinSize=8
MaxSize=256

[scalable/intl]
Size=128
Context=International
Type=Scalable
MinSize=8
MaxSize=256

[scalable/mimetypes]
Size=128
Context=MimeTypes
Type=Scalable
MinSize=8
MaxSize=256

[scalable/places]
Size=128
Context=Places
Type=Scalable
MinSize=8
MaxSize=256

[scalable/status]
Size=128
Context=Status
Type=Scalable
MinSize=8
MaxSize=256

 